:root {
  --t: #3c3836;
  --d: #efefeb;
}
@media (prefers-color-scheme: dark) {
  :root {
    --t: #ebdbb2;
    --d: #292724;
  }
}
.typst-text[fill="#000000"],
.typst-shape[fill="#000000"],
.typst-group[fill="#000000"],
.typst-text > [fill="#000000"],
.typst-shape > [fill="#000000"],
.typst-group > [fill="#000000"] {
  fill: var(--t);
}
.typst-text[fill="#ffffff"],
.typst-shape[fill="#ffffff"],
.typst-group[fill="#ffffff"],
.typst-text > [fill="#ffffff"],
.typst-shape > [fill="#ffffff"],
.typst-group > [fill="#ffffff"] {
  fill: var(--d);
}
